<ion-header>
  <ion-toolbar class="title">
    <ion-title>INFORMATION <img src="assets/img/img-information.svg" alt="" class="image-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <center><img src="assets/img/Pulmones.png" alt="" class="image"></center>
      <ion-card-subtitle> Design by: David Galeano / Hollman Rojas</ion-card-subtitle>
      <br>
      <strong><ion-card-title>APP RESPIRADOR</ion-card-title></strong>
    </ion-card-header>
  
    <ion-card-content class="information">
      Es una aplicacion de asistencia al personal medico sobre la extubacion de pacientes.
    </ion-card-content>
  </ion-card>

  

</ion-content>
