<ion-content>
<ion-toolbar>
  <ion-buttons  slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>


  <ion-card>
    <ion-card-header class="ion-padding">
  <ion-title class="text-center ion-padding" text-capitalize >INGRESE LOS DATOS</ion-title>
  </ion-card-header>
  <ion-card-content>
  <ion-item lines="none">
    <ion-label  name="numberOne"  position="floating">Dato 1</ion-label>
    <ion-input name="numberOne" [(ngModel)]="numberOne" ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  name="numberTwo" position="floating">Dato 2</ion-label>
    <ion-input name="numberTwo" [(ngModel)]="numberTwo"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  name="numberThree" position="floating" >Dato 3</ion-label>
    <ion-input name="numberThree" [(ngModel)]="numberThree"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  name="numberFour" position="floating"  >Dato 4</ion-label>
    <ion-input name="numberFour" [(ngModel)]="numberFour" ></ion-input>
  </ion-item>

</ion-card-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="primary" expand="full" shape="round" (click)="results()">
          CALCULAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <img src="assets/img/img-formulario.svg" alt="">
</ion-card>
</ion-content>

