<ion-content class="container">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-card>
    <ion-card-header class="ion-padding">
      <ion-title class="text-center ion-padding" text-capitalize>INGRESE LOS DATOS</ion-title>
    </ion-card-header>
    <form [formGroup]='form'>
      
      <ion-item>
        <ion-label name="numberOne" position="floating">Acid/Base status (PH value)*</ion-label>
        <ion-select name="numberOne" [interfaceOptions]="customAlertOptions" [(ngModel)]="numberOne" (ionChange)="optionsFn();" interface="alert" multiple="false"
          placeholder="Acid/Base status (PH value)*" formControlName='acid_basestatus'>
          <ion-select-option value="7.2">7.2</ion-select-option>
          <ion-select-option value="7.3">7.3</ion-select-option>
          <ion-select-option value="7.4">7.4</ion-select-option>
          <ion-select-option value="7.5">7.5</ion-select-option>
          <ion-select-option value="7.6">7.6</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <!-- <ion-item lines="none">
        <ion-label name="numberOne" position="floating">Acid/Base status (PH value)</ion-label>
        <ion-input formControlName='acid_basestatus' name="numberOne" [(ngModel)]="numberOne"></ion-input>
      </ion-item> -->

      <ion-item lines="none">
        <ion-label name="numberTwo" position="floating" class="small">Breathing test (RSBI)*</ion-label>
        <ion-input type="number" formControlName='rsbi' name="numberTwo" [(ngModel)]="numberTwo"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label name="numberThree" position="floating">Cough (Effective=1)*</ion-label>
        <ion-select name="numberThree" [interfaceOptions]="customAlertOptions"
        [(ngModel)]="numberThree" 
        (ionChange)="optionsFn();" interface="alert" multiple="false"
        placeholder="Cough (Effective=1)*" formControlName='efective_cough'>
          <ion-select-option value="1">SI</ion-select-option>
          <ion-select-option value="0">NO</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-label name="numberThree" position="floating" class="small">Cough (Effective=1)*</ion-label>
        <ion-input formControlName='efective_cough' name="numberThree" [(ngModel)]="numberThree"></ion-input>
      </ion-item> -->

      <ion-item lines="none">
        <ion-label name="numberFour" position="floating" class="large" >Death Probability(Apache/EUROScore)</ion-label>
        <ion-input type="number" formControlName='death_probability' name="numberFour" [(ngModel)]="numberFour"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label name="numberFive" position="floating">Medical Patient (Medical=1)!*</ion-label>
        <ion-select name="numberFive" [interfaceOptions]="customAlertOptions"
        [(ngModel)]="numberFive" 
        (ionChange)="optionsFn();" interface="alert" multiple="false"
        placeholder="Medical Patient (Medical=1)!*" formControlName='medical_patient'>
          <ion-select-option value="1">Médico</ion-select-option>
          <ion-select-option value="0">Quirúrgico</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <!-- <ion-item lines="none">
        <ion-label name="numberFive" position="floating"></ion-label>
        <ion-input  formControlName='medical_patient' name="numberFive" [(ngModel)]="numberFive"></ion-input>
      </ion-item> -->

      <ion-item lines="none">
        <ion-label name="numberSix" position="floating" class="small">Excursión Diafragmática</ion-label>
        <ion-input type="number" formControlName='excur_diafrag' name="numberSix" [(ngModel)]="numberSix"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label name="numberSeven" position="floating">Engoramiento Diafragmático</ion-label>
        <ion-input type="number" formControlName='engro_diafrag' name="numberSeven" [(ngModel)]="numberSeven"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label name="numberEight" position="floating" class="large">Velocidad de contracción diafragmática</ion-label>
        <ion-input type="number" formControlName='velcontrac_diafra' name="numberEight" [(ngModel)]="numberEight"></ion-input>
      </ion-item>
     
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button color="primary" expand="full" shape="round" (click)="results()">
              CALCULAR
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>

    <img src="assets/img/img-formulario.svg" alt="">
  </ion-card>
</ion-content>