<ion-toolbar>
  <ion-buttons  slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <h1 class="text-center" >INGRESE LOS DATOS</h1>

  
  <ion-item lines="none">
    <ion-label  position="floating">Dato 1</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  position="floating">Dato 2</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  position="floating">Dato 3</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  position="floating">Dato 4</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="primary" expand="full" shape="round">
          CALCULAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <img src="assets/img/img-formulario.svg" alt="">

</ion-content>

