<ion-toolbar class="ion-no-border" color="primary">
  <ion-text >
    <h4 class="text-center">INGRESE LOS SIGUIENTES DATOS</h4>
  </ion-text>
</ion-toolbar>

<ion-content *ngIf="modalReady" class="ion-padding">


  <ion-card>
    <ion-card-header class="ion-padding">
  
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>Hospital</ion-label>
      <ion-select  value="notifications" interface="action-sheet">
        <ion-select-option *ngFor = "let hospital of hospitals$|async" [value]="hospital">{{hospital.name}}</ion-select-option>

      </ion-select>
    </ion-item>

  <a href="/hospitals">AGREGAR HOSPITAL</a>

  <ion-item lines="none">
    <ion-label  name="paciente_id" position="floating">ID Paciente</ion-label>
    <ion-input name="paciente_id" [(ngModel)]="paciente_id"></ion-input>
  </ion-item>

  

</ion-card-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button color="danger" expand="full" shape="round" href="/home" >
          CANCELAR
        </ion-button>
        <ion-button color="primary" expand="full" shape="round" href="/data" (click)="submitHospital()">
          CONTINUAR
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <img src="assets/img/img-health-check.svg" alt="">
</ion-card>



</ion-content>