<ion-toolbar class="ion-no-border" color="primary">
  <h6 class="text-center">INGRESE LOS SIGUIENTES DATOS</h6>
</ion-toolbar>
<ion-content *ngIf="modalReady" class="ion-padding">
  <form [formGroup]='form'>
    <ion-item lines="none">
      <ion-label name="numberTwo" position="floating">ID Paciente</ion-label>
      <ion-input name="numberTwo" [(ngModel)]="numberTwo" formControlName="paciente_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="hospitalabel">Hospital</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" [(ngModel)]="place" (ionChange)="optionsFn();" interface="alert" multiple="false"
        placeholder="Seleccione un Hospital" formControlName="hospital">
        <ion-select-option *ngFor="let hospital of hospitals$|async" [value]="hospital">{{hospital.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <a href="/hospitals">AGREGAR HOSPITAL</a>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="5" offset="1">
          <ion-button color="danger" expand="full" shape="round" href="/home">
            CANCELAR
          </ion-button>
        </ion-col>
        <ion-col size="5" offset="1">
          <ion-button color="primary" expand="full" shape="round" (click)="ruta()" [disabled]="form.invalid">
            CONTINUAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>